
<div *ngIf="svc.api" class="pageName">
    <fieldset>
    <legend><h1>todo search:</h1></legend>
    <label>userId</label><br>
    <input (blur)="userId =$event.target.value">
    <br>
    <label>title</label><br>
    <input (blur)="title =$event.target.value">
    <br>
    </fieldset>
    <div *ngIf="userId && title; then myPipe else normal"> </div>
    <ng-template #normal ><h1>this is the todos list</h1>
        <ul *ngFor="let t of svc.api">
            <mat-card>
            <li>userId:{{t.userId}}</li>
            <li>id:{{t.id}}</li>
            <li>title:{{t.title}}</li>
            <li>completed:{{t.completed}}</li>
            </mat-card>
            
        </ul>
    </ng-template>

    <ng-template #myPipe>
        <ul *ngFor="let t of svc.api |  search:userId : title">
            <mat-card>
            <li>userId:{{t.userId}}</li>
            <li>id:{{t.id}}</li>
            <li>title:{{t.title}}</li>
            <li>completed:{{t.completed}}</li>
            </mat-card>
        </ul>
    </ng-template>

</div>


<h3>to add a new todo :
<a mat-stroked-button routerLink="/addToDo">click here</a></h3>

<router-outlet></router-outlet>


    

